asgiref==3.11.1
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
crispy-bootstrap4==2026.2
Django==6.0.4
django-crispy-forms==2.6
idna==3.13
liqpay-sdk-python3==1.0.6
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
pytokens==0.4.1
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
