{% extends "base.html" %}

{% block content %}

<div class="container py-4">

    <h2>Order History</h2>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Customer</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

        {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.public_status }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.total_price }} ₴</td>
                <td>{{ order.created_at }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}