<nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">

    <div class="container">

        <a class="navbar-brand fw-bold" href="{% url 'index' %}">
            Bite & Brew
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">

            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">
                        Меню
                    </a>
                </li>

                {% if request.user.role == 'customer' or not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'cart' %}">
                        Кошик

                        <span class="badge bg-danger" id="cart_total"
                              {% if request.path != '/' and cart_total_item|default:0 > 0 %}
                              style="display:inline;"
                              {% else %}
                              style="display:none;"
                              {% endif %}>
                            {{ cart_total_item|default:0 }}
                        </span>
                    </a>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            Профіль
                        </a>
                    </li>

                    {% if request.user.role == 'driver' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'driver_dashboard' %}">
                                Доставка
                            </a>
                        </li>

                    {% elif request.user.role == 'cook' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kitchen_dashboard' %}">
                                Замовлення
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'kitchen_history' %}">
                                Історія
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item ms-lg-2">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm">
                                Вийти
                            </button>
                        </form>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="btn btn-outline-light ms-lg-2" href="{% url 'login' %}">
                            Увійти
                        </a>
                    </li>

                {% endif %}

            </ul>

        </div>
    </div>

</nav>
