{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card border-0 shadow-sm">

                <div class="card-body p-5">

                    <h1 class="fw-bold mb-4">
                        Оформлення замовлення
                    </h1>

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">
                                Ім’я
                            </label>

                            {{ form.name }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Телефон
                            </label>

                            {{ form.phone }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Адреса
                            </label>

                            {{ form.address }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Коментар
                            </label>

                            {{ form.comment }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Тип отримання
                            </label>

                            {{ form.delivery_type }}

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Оплата
                            </label>

                            {{ form.payment_method }}

                        </div>

                        <button class="btn btn-dark btn-lg w-100">

                            Підтвердити замовлення

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}