{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="auth-wrapper">

        <div class="auth-card">

            <div class="auth-title">
                Увійти
            </div>

            <div class="auth-subtitle">
                Увійдіть, щоб переглянути статус замовлень
            </div>

            <form method="post">

                {% csrf_token %}

                <!-- GLOBAL ERROR -->
                {% if form.non_field_errors %}
                    <div class="error-box">
                        {% for error in form.non_field_errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- EMAIL -->
                <label>Email</label>
                {{ form.username }}

                {% if form.username.errors %}
                    <div class="errorlist">
                        {% for error in form.username.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- PASSWORD -->
                <label>Пароль</label>
                {{ form.password }}

                {% if form.password.errors %}
                    <div class="errorlist">
                        {% for error in form.password.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <button class="btn-accent">
                    Увійти
                </button>

            </form>

            <div class="auth-footer">
                Ще не маєте акаунта?
                <a href="{% url 'register' %}">
                    Створити акаунт
                </a>
            </div>

        </div>

    </div>

</div>

{% endblock %}